.account-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.account-info-container img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.account-info-container p {
  margin-left: 10px;
}
